.background{
    background: url(../img/benjamin-davies-farm.jpg); 
    background-size: cover;
    background-repeat: repeat-y; 
    background-position: center;
    width: 100%;
    height: 100%;    
}
.special-card {
  /* create a custom class so you 
     do not run into specificity issues 
     against bootstraps styles
     which tends to work better than using !important 
     (future you will thank you later)*/
  
    opacity: .9;
  }

.light-text{
    color: white;
}
.easy-read{
  text-shadow: 2px 2px #3968af;
}

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }