html {height: 100%;}
/*Hide the arrows of number input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

/*** USER.HTML ***/

.special-card {
  /* create a custom class so you 
     do not run into specificity issues 
     against bootstraps styles
     which tends to work better than using !important 
     (future you will thank you later)*/
  
    opacity: .9;
  }
  .ml9 {
    position: relative;
    font-weight: 200;
    font-size: 4em;
  }
  
  .ml9 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }
  
.user_main {
    background: url(../img/background.svg); 
    background-size: cover;
    background-repeat: repeat-y; 
    background-position: center;
    width: 100%;
    height: 100%;    
}
.pasture, .farm {
    background-color: rgba(256, 256, 256, .9); 
    max-width: 400px; 
    margin: 20px;
    border: 2px solid seagreen;
}
.pasture p, img {margin: 10px;}
.pasture {text-align: center;}
.pasture button {
    position: relative;
    right: 115px;
    bottom: 40px;
    padding: 4px;
}
#cow_to_graze {
    position: relative;
    bottom: 70px;
}
.farm * {margin: 10px;}
.farm div {position: relative;}
.farm p {
    position: absolute;
    top: 50%;
    right: 0%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*** USER_LOGIN.HTML ***/
.user_login {
   background: url(img/background.svg); 
   background-repeat: no-repeat; 
   background-size: cover;
   background-position: center;
}
.login {
  background-color: rgba(256, 256, 256, .8); 
  border: 1px solid forestgreen; 
  text-align: center; 
  margin: 50px auto; 
  width: 250px; 
  padding: 20px;
}
.login > h1 {color: forestgreen;}
.login > form {margin-top: 50px;}
.login > h6 {
  font-size: 13px; 
  color: darkgreen; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.login input {
  width: 80%; text-align: center; 
  border: none; 
  background: none; 
  border-bottom: 1px solid forestgreen;
  font-size: 15px;
}
#button {
  font-size: 15px; width: 80%; 
  border: 2px solid rgb(37, 180, 37); 
  color: forestgreen; 
  background: none; 
  padding: 3px;
}

.heart{
  animation: 1s heartBeat infinite;
}

@keyframes heartBeat{
  0% {
    transform: scale(1);
  }
  25%{
    transform: scale(1.1);
  }
  40%{
    transform: scale(1);
  }
  60%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }  
}

.shakeMoney{
  animation: 10s moneyShake infinite;
}
@keyframes moneyShake{
  0% {
    transform: rotate(20deg);
  }
  25%{
    transform: rotate(-20deg);
  }
  40%{
    transform: rotate(20deg);
  }
  60%{
    transform: rotate(-20deg);
  }
  100%{
    transform: rotate(20deg);
  }

}
.cowBounceTest{
  animation: 10s cowBounce infinite;
}
@keyframes cowBounce{
  0% {
    transform: translateY(10px);
  }
  25%{
    transform: translateY(-10px);
  }
  40%{
    transform: translateY(10px);
  }
  60%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(10px);
  }
}

.CommonName{
  margin-bottom: 25px;

}

.Background{
  background: url(../img/altansukh.jpg); 
  background-position: center;
  width: 100%;
  height: 100%;    
}

.parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prettySpace{
  margin-top: 30px;
}

