<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/css/user.css" rel="stylesheet" type="text/css">
</head>

<body class="user_main">
    <!-- <div style="background-image: url('backround.svg');"></div> -->

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info">
                    <h1>Welcome farmer <%=data.userName%></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card special-card">
                    <h5 class="card-header">Manage Cows</h5>
                    <div class="card-body">
                        <p>Note: If you increase cows, they will be automatically bought, and if you decrease, they cows
                            will be automatically sold</p>

                        <div class="row">
                            <div class="col">
                                <img src="img/cowhead.svg" alt="Cow's head">
                                <p>You Have <%= data.userCows%> cows</p>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-secondary">-</button>
                                <button type="button" class="btn btn-secondary">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card special-card">
                    <h5 class="card-header">Your Stats</h5>
                    <div class="card-body">
                        <div class="row mt-3">
                            <div class="col">
                                <div class="money">
                                    <img src="img/money.svg" alt="">
                                    <p>$ <%= data.userMoney%></p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="health">
                                    <img src="img/health.svg" alt="">
                                    <p>Cow Health: <%= data.userCowsHealth%>%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            
        </div>
    </div>



</body>

</html>