<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="/css/admin.css" rel="stylesheet" type="text/css">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <title>Admin Common Settings</title>
</head>

<body>
    <div class= "background parallax">
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <div class="card">
                    <h5 class="card-header">Players</h5>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Perm</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Cows</th>
                                    <th scope="col">Health</th>
                                    <th scope="col">Money</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.users.forEach(result=>{ %>
                                <tr>
                                    <th scope="row"><%= result["id"] %></th>
                                    <% Object.keys(result).map((key)=>{ %>
                                        <td><%=result[key]%></td>
                                    <% }); %>
                                    <td><button type="button" class="btn btn-danger btn-sm">X</button></td>
                                </tr>
                                <% }); %>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Configs (WIP)</h5>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Parameters</th>
                                    <th scope="col">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Max Cows Per Person</td>
                                    <td>10</td>
                                    <td><button type="button" class="btn btn-primary btn-sm" data-id="Maxcowsperperson"
                                            data-toggle="modal" data-target="#exampleModal">Modify</button></td>
                                </tr>

                                <tr>
                                    <th scope="row">2</th>
                                    <td>Cost Per Cow</td>
                                    <td>1000</td>

                                    <td><button type="button" class="btn btn-primary btn-sm" data-id="costpercow"
                                            data-toggle="modal" data-target="#exampleModal">Modify</button></td>
                                </tr>

                                <tr>
                                    <th scope="row">3</th>
                                    <td>Degredation Rate</td>
                                    <td>2</td>
                                    <td><button type="button" class="btn btn-primary btn-sm" data-id="degredation"
                                            data-toggle="modal" data-target="#exampleModal">Modify</button></td>
                                </tr>

                                <!-- Modify Modal -->
                                <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog"
                                    aria-labelledby="modifyModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modifyModalLabel">Modify Value</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" id="value" name="value">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Taxes (WIP)</h5>
                    <div class="container">
                        <div class="row ">
                            <div class="col">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Lower</th>
                                            <th scope="col">Upper</th>
                                            <th scope="col">Rate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>

                                    <tfoot>
                                        <td><button type="button" class="btn btn-primary" data-id="Taxes"
                                                data-toggle="modal" data-target="#exampleModal">Adjust Taxes</button>
                                        </td>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Data (WIP)</h5>
                    <div class="card-body">
                        <button class="btn btn-primary" type="submit">Download</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<%- include("footer") %>