<%- include("header") %>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Admin</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
    <!-- <span class="navbar-toggler-icon"></span> -->
    <!-- </button> -->

  </nav>



  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <h5 class="card-header">Make New Commons</h5>
          <div class="card-body">

            <form action="/admin/common" method="post">
              <div class="form-group">
                <label for="name">Commons Name</label>
                <input type="text" class="form-control" name="name" id="name">
                <label for="cow_price">Cow Price</label>
                <input type="text" class="form-control" name="cow_price" id="cow_price">
                <label for="milk_time">Milk Time</label>
                <input type="text" class="form-control" name="milk_time" id="milk_time">
                <label for="start_date">Start Date</label>
                <input type="text" class="form-control" name="start_date" id="start_date">
                <label for="end_date">End Date</label>
                <input type="text" class="form-control" name="end_date" id="end_date">
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>



          </div>
        </div>


      </div>

      <div class="col">

        <div class="card">
          <h5 class="card-header">Manage Commons</h5>
          <div class="card-body">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Health</th>
                  <th scope="col">Players</th>
                </tr>
              </thead>
              <tbody>
                <% data.commons.forEach(result=>{ %>
                <tr>
                  <th scope="row">1</th>
                  <% Object.keys(result).forEach(key=>{ %>
                    <td><%= result[key] %></td>
                  <% }); %>
                  <!-- On Click this button redirects to server admin_common.html for each commongit config user.email “your.email@example.com" -->
                  <td><button type="button" class="btn btn-primary btn-sm" >Settings</button></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</body>

<%- include("footer") %>
