<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/admin.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Admin Page</title>
</head>

<body>
  <div class="background2 parallax">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Admin</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
    <!-- <span class="navbar-toggler-icon"></span> -->
    <!-- </button> -->
  </nav>

  <div class="container prettySpace">
    <div class="row">
      <div class="col">
        <div class="card">
          <h5 class="card-header">Make New Commons</h5>
          <div class="card-body">
            <form action="/admin/common" method="post">
              <div class="form-group">
                <label for="name">Commons Name</label>
                <input type="text" class="form-control" name="name" id="name" required>
                <label for="cow_price">Cow Price</label>
                <input type="text" class="form-control" name="cow_price" id="cow_price" placeholder="100" required>
                <label for="milk_time">Milk Price</label>
                <input type="text" class="form-control" name="milk_price" id="milk_price" placeholder="10" required>
                <label for="start_date">Start Date</label>
                <input type="date" class="form-control" name="start_date" id="start_date" required>
                <label for="end_date">End Date</label>
                <input type="date" class="form-control" name="end_date" id="end_date" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-header">Manage Commons</h5>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Admin</th>
                  <th scope="col">Health</th>
                  <th scope="col">Players</th>
                  <th scope="col">Edit</th>
                </tr>
              </thead>
              <tbody>
                <% data.commons.forEach(result=>{ %>
                <tr>
                  <% Object.keys(result).forEach(key=>{ %>
                    <td><%= result[key] %></td>
                  <% }); %>
                  <!-- On Click this button redirects to server admin_common.html for each commongit config user.email “your.email@example.com" -->
                  <td>
                      <form action="/admin/common/<%= result.id %>" method="get">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <ion-icon name="settings-outline"></ion-icon>
                        </button>
                      </form>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<%- include("footer") %>
