<%- include("header") %>

<body>
  <div class="background parallax">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Error</a>

  </nav>

  <div class="container prettySpace">
    <div class="row">
      <div class="col">
          <h5 class="card-header">Sorry, this page does not exist :(</h5>
          <div class="card-body">
              
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<%- include("footer") %>