<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <link href="/css/choose_commons.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Scroll Animations -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Select Commons</title>
</head>

<body>
    <div class="background">
        <div class="container h-100 text-center">
            <div class="card-block mb30">
                <div class="p-3 mb-5rounded">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-caption">
                                <div data-aos="fade-right" data-aos-duration="1000">
                                    <h1 class="page-title light-text">Welcome!</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-6">
                            <div class="card special-card">
                                <div data-aos="zoom-in" data-aos-duration="2000">
                                    <h2 class="page-title">Select A Common</h2>
                                </div>
                                <!--do we want the start and end date of common? to place in table as well-->
                                 <!--Will Populate Data in Tbody instead of below filler way. Each data will also have a button to it's right to click -->
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Common Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.commons.forEach(result=>{ %>
                                        <tr>
                                            <th scope="row"><%= result["id"] %></th>
                                            <% Object.keys(result).map((key)=>{ %>
                                                <td><%=result[key]%></td>
                                            <% }); %>
                                            <td><button type="button" class="btn btn-danger btn-sm">Join</button></td>
                                        </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                                <!-- 
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-12">
                                        <p>Chem123 - Spring 2020
                                        <button type="button" class="btn btn-primary pull-right">Select</button>
                                        </p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-12">
                                            <p>Chem123 - Spring 2020
                                            <button type="button" class="btn btn-primary pull-right">Select</button>
                                            </p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-12">
                                            <p>Chem123 - Spring 2020
                                            <button type="button" class="btn btn-primary pull-right">Select</button>
                                            </p>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-12">
                                            <p>Chem123 - Spring 2020
                                            <button type="button" class="btn btn-primary pull-right">Select</button>
                                            </p>
                                    </div>
                                </div>
                            -->
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-6">
                            <div class="card special-card">
                                <div data-aos="zoom-in" data-aos-duration="2000">
                                    <h2 class="page-title">Join A New Common</h2>
                                </div>
                                
                                 <!--Will Populate Data in Tbody instead of below filler way. Each data will also have a button to it's right to click -->
                                 <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Common Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% data.commons.forEach(result=>{ %>
                                            <tr>
                                                <th scope="row"><%= result["id"] %></th>
                                                <% Object.keys(result).map((key)=>{ %>
                                                    <td><%=result[key]%></td>
                                                <% }); %>
                                                <td><button type="button" class="btn btn-danger btn-sm">Join</button></td>
                                            </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>
                            
                                <!--
                                <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-12">
                                            <p>Chem123 - Winter 2020
                                            <button type="button" class="btn btn-primary pull-right">Select</button>
                                            </p>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-12">
                                                <p>Chem123 - Spring 2020
                                                <button type="button" class="btn btn-primary pull-right">Select</button>
                                                </p>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-12">
                                                <p>OtherSchool - Winter 2020
                                                <button type="button" class="btn btn-primary pull-right">Select</button>
                                                </p>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-12">
                                                <p>Random - Spring 2020
                                                <button type="button" class="btn btn-primary pull-right">Select</button>
                                                </p>
                                        </div>
                                    </div>
                                    -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="editcommons.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</html>